<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compromiso de Usuario</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            background-color: black;
            color: white;
            font-size: large;
        }
        h1{
            margin: 50px;
        }
        .paragraphs{
            margin: 50px;
        }
    </style>
</head>
<body>
    <h1>COMPROMISO PARA USO DE LA APLICACIÓN EMCARE</h1>
    <div class="paragraphs">
        <h3>Al registrarme en esta aplicación me estaré comprometiendo a:</h3>
        <div>
            <p>1. Usar la aplicación diariamente al menos una vez.</p>
            <p>2. Contestar lo que se me pregunta con una ortografía correcta.</p>
            <p>3. Contestar con expresiones detalladas y no con respuestas vagas o ambiguas. </p>
            <p>4. Terminar la conversación iniciada.</p>
            <p>5. Brindar información honesta y ser lo más transparente posible en su uso.</p>
        </div>
    </div>
</body>
</html>